extends ./head
include mixins/problemLink

block content
    #wrapper.d-flex
        // Sidebar
        #sidebar-wrapper.bg-light.border-right
            .sidebar-heading Problems 
            .list-group.list-group-flush
                - for (var i = 1; i <= size; i++) {
                    +problemLink(i)
                - }

        // Page Content
        #page-content-wrapper
            nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
                i#menu-toggle(class="fa fa-toggle-on fa-lg")
                
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto.mt-2.mt-lg-0
                        li.nav-item.active
                            a.nav-link(href='/')
                                i.fa.fa-home.fa-lg
                            span.sr-only (current)
                            
            .container-fluid
                p#desc #{desc}

    // Menu Toggle Script
    script.
        const menu_toggle = document.getElementById("menu-toggle");

        $("#menu-toggle").click(function(e) {
            if (menu_toggle.getAttribute("class") == "fa fa-toggle-on fa-lg")
                menu_toggle.setAttribute("class", "fa fa-toggle-off fa-lg");
            else
                menu_toggle.setAttribute("class", "fa fa-toggle-on fa-lg");
            
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

    script.
        const desc = document.getElementById("desc");
        const questions = document.getElementById("questions");
        
        getProblem = function(idx){
            fetch("/exam/problems/" + idx, {method: "GET"}).
            then(res => res.json()).
            then(data => {
                desc.innerText = data,
                quesitons.innerText = data
            })
        }