extends ./head

block content
    main(role='main')
        .jumbotron
            .container
                h1.display-3 AWS Dump Questionbank
                    div(class="col-sm-6")
                        form(action="/exam" method="post")
                            div(class="form-group")
                                label(class="h2") The number of problems: &nbsp;
                                    output#amount(name="amount" for="probSize") 10
                                input#probInput(class="form-control-range form-control-lg" type="range" name="probSize" value="10" min="1" max="65" oninput="amount.value=probInput.value")
                                
                            div(class="form-group")
                                button(class='btn btn-primary btn-lg btn-block' type='submit') Test &nbsp;
                                    i.fa.fa-search
                                    
    footer.container
        p © Jaeseung Lee, Yoonseop Shin 2020
